<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="MixedChartCtr">
        <div class="col-lg-8">
            <h3>Analog to digital conversion at {{}} voltage and {{}} time.</h3>
            <br><br>
            <canvas id="base" class="chart-bar"
                    chart-data="data" chart-labels="labels" chart-colors="colors"
                    chart-dataset-override="datasetOverride" >
            </canvas>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
            <div class="card">
                <div class="card-header">
                    <h3>Configure Settings</h3>
                </div>
                <br><br>
                <div class="card-body collapse in">
                    <form>
                        <fieldset class="form-group">
                            <label>Change Voltage</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="number" class="form-control" ng-model="voltage">
                            </div>
                            <small ng-show="voltage<=0" class="text-danger">Voltage must be greater than 0.</small>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Change Frequency</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                </div>
                                <input type="number" class="form-control" ng-model="frequency">
                            </div>
                            <small ng-show="frequency<=0" class="text-danger">Frequency must be greater than 0.</small>
                        </fieldset>

                        <input ng-disabled="frequency<=0 || voltage<=0" type="button" class="btn-primary btn-default btn-rounded" value="Configure" ng-click="changeChart()">
                        <input style="margin-left: 30%;" type="button" class="btn-primary btn-danger btn-rounded" value="Reset" ng-click="reset()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>